/* Custom Cursor
Change the code --> your image/gif 
Sourced and adapted from Weekly content on IM2024 Canvas Materials
*/
body {
  cursor: url('Workbook/Images/fish-cursor.gif'), auto;
}

button{
  /* Removes default button format */
  background: none;
  border: none;

  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  padding-left: 2em;
  padding-top: 2em;
}

.home-btn{
  color: rgb(255, 255, 255);
}

.home-btn img{
  display: block; /* to remove extra space below image */
  width: 100px;
  padding-bottom: 0.2em;
}

.crazy{
  margin-left: 30em;
  margin-top: 2em;
  margin-bottom: 4em;
  width: 350px;
}

.proto{
  margin-left: 30em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  width: 450px;
  rotate: 270deg;
}

.experiments{
  margin-left: 6em;
  margin-top: 2em;
  margin-bottom: 4em;
  width: 350px;
}

/* Removes the default grey box around buttons */
button {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
    color: rgb(255, 255, 255);
    font-family: "Lexend", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: small;
    margin-left: 1em;
    margin-top: 2em;
  }
  
  /* id for back to home button */
  .home-button{
    display:flex;
    float:left;
    margin-left:50px;
    padding-right: 5%;
  }
  

  .striped-background {
    height:50vh;
    background: repeating-linear-gradient(
    -45deg,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
    );
    background-size: 100% 14px;
    }

/* Shooting Stars */
*
{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

section{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
/*   background-color:black; */
  animation: animateBg 50s linear infinite;
}

@keyframes animateBg{
  0%,100%{
      transform: scale(1);
  }
  50%{
      transform: scale(1.2);
  }
}

span{
  position: absolute;
  top:50%;
  left:50%;
  width: 4px;
  height: 4px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 4px rgba(255,255,255,0.1),0 0 0 8px rgba(255,255,255,0.1),0 0 20px rgba(255,255,255,0.1);
  animation: animate 3s linear infinite;
}
span::before{
  content:'';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  height: 1px;
  background: linear-gradient(90deg,#fff,transparent);
}
@keyframes animate
{
  0%
  {
      transform: rotate(315deg) translateX(0);
      opacity: 1;
  }
  70%
  {
      opacity: 1;
  }
  100%
  {
      transform: rotate(315deg) translateX(-1000px);
      opacity: 0;
  }
}
span:nth-child(1){
  top: 0;
  right: 0;
  left: initial;
  animation-delay: 0s;
  animation-duration: 1s;
}
span:nth-child(2){
  top: 0;
  right: 80px;
  left: initial;
  animation-delay: 0.2s;
  animation-duration: 3s;
}
span:nth-child(3){
  top: 80;
  right: 0px;
  left: initial;
  animation-delay: 0.4s;
  animation-duration: 2s;
}
span:nth-child(4){
  top: 0;
  right: 180px;
  left: initial;
  animation-delay: 0.6s;
  animation-duration: 1.5s;
}
span:nth-child(5){
  top: 0;
  right: 400px;
  left: initial;
  animation-delay: 0.8s;
  animation-duration: 2.5s;
}
span:nth-child(6){
  top: 0;
  right: 600px;
  left: initial;
  animation-delay: 1s;
  animation-duration: 3s;
}
span:nth-child(7){
  top: 300px;
  right: 0px;
  left: initial;
  animation-delay: 1.2s;
  animation-duration: 1.75s;
}
span:nth-child(8){
  top: 0px;
  right: 700px;
  left: initial;
  animation-delay: 1.4s;
  animation-duration: 1.25s;
}
span:nth-child(9){
  top: 0px;
  right: 1000px;
  left: initial;
  animation-delay: 0.75s;
  animation-duration: 2.25s;
}
span:nth-child(9){
  top: 0px;
  right: 450px;
  left: initial;
  animation-delay: 2.75s;
  animation-duration: 2.75s;
}

/* End of Shooting Star Effects 
  Source: Weekly Materials on Interactive Media 2024, Sem 1 Canvas UniMelb
*/

.web-embed{
  align-items: center;
  border: #ffffff00;
  border-radius: 5%;
  overflow: hidden; /* Hides real iFrame corners */
  margin-left: 200px;
  margin-top: 4em;
  margin-bottom: 6em;
}

h1{
  font-family: "Lexend", sans-serif;
  padding: 20px;
  font-weight: 700;
  color: #ffffff;
  margin-top: 1em;
  margin-bottom: 1.5em;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.51);
}

h2{
  font-family: "Lexend", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  color: #ffffff;
  margin-left: 1em;
}

h3{
  font-family: "Lexend", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  color: #ffffff;
  margin-left: 1em;
}

p{
  font-family: "Lexend", sans-serif;
  font-weight: 300;
  font-style: normal;
  text-align: left;
  color: #ffffff;
  margin-left: 2em;
  margin-bottom: 2em;
}

i{
  margin-bottom: 10em;
}

.monkey-game{
  margin-left: 2.7em;
  margin-top: 1em;
}
